
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.react-player {
    width: 75% !important;
    height: 85% !important;
}

.text-cursor::after {
    content: '';
    display: inline-block;
    width: 0.25em;
    height: 0.8em;
    margin-left: 0.2em;
    animation: blink 1s step-end infinite;
    border-right: 0.1em solid;
}

@keyframes blink {
    50% {
        border-right-color: transparent;
    }
}

@media only screen and (max-width: 680px) {
    .react-player {
        width: 100%!important;
        height: 35% !important;
    }
  }